
@{
    ViewBag.Title = "busqueda";
}

<h2>busqueda</h2>
<form method="get" action="Details">
    <label class="control-label">Busqueda</label>
    <input class="form-control" id="id" name="id" />
    <br />
    <button type="submit" class="btn btn-success">OK</button>
</form>

